<ng-container *ngIf="displayLowerLevels && hasNextItems(item, level+1); else regularDropdown">
    <a ngbDropdownItem class="dropdown-item-submenu d-inline-flex" [routerLink]="[getRouteRoot(level), item.id, 'view']"><span>{{getItemDisplayText(item, level)}}</span>
        <span class="ms-auto ps-5 triangle-right-submenu">▶</span>
        <ul class="dropdown-menu dropdown-submenu">
            <div *ngFor="let subitem of getNextItems(item, level+1)">
                <app-breadcrumb-navigation-dropdown [item]="subitem" [level]=(level+1) [displayLowerLevels]="displayLowerLevels"></app-breadcrumb-navigation-dropdown>
            </div>
        </ul>
    </a>
</ng-container>
<ng-template #regularDropdown>
    <a ngbDropdownItem [routerLink]="[getRouteRoot(level), item.id, 'view']">{{getItemDisplayText(item, level)}}</a>
</ng-template>