<form [formGroup]="form" ngNativeValidate>
    <div formArrayName="studyAgreements">
        <div class="row" *ngFor="let studyAgreement of getStudyAgreementsForm()?.controls; let i = index;" [formGroupName]="i">
            <div class="col">
                <div class="row mb-1 mt-5">
                    <div class="col-md-4">
                        <span class="view-sub-sub-title underline">Initial Agreement (Sponsor-ECRIN)</span>
                    </div>
                </div>
                <div class="agreement-fields-grid">
                    <div>
                        <div for="contractStatus" class="font-style">Contract status</div>
                        <div class="text-value">{{contractStatus(studyAgreement.value)}}</div>
                    </div>
                    <div>
                        <div for="draftSentDate" class="font-style">Draft sent to Sponsor</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="draftSentDate" ngbDatepicker [maxDate]="today" #draftSentDate="ngbDatepicker" formControlName="draftSentDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="draftSentDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(studyAgreement.value.draftSentDate)}}</div>
                    </div>
                    <div>
                        <div for="signedBySponsorDate" class="font-style">Signed by Sponsor</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="signedBySponsorDate" ngbDatepicker [maxDate]="today" #signedBySponsorDate="ngbDatepicker" formControlName="signedBySponsorDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="signedBySponsorDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(studyAgreement.value.signedBySponsorDate)}}</div>
                    </div>
                    <div>
                        <div for="signedByEcrinDate" class="font-style">Signed by ECRIN</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="signedByEcrinDate" ngbDatepicker [maxDate]="today" #signedByEcrinDate="ngbDatepicker" formControlName="signedByEcrinDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="signedByEcrinDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(studyAgreement.value.signedByEcrinDate)}}</div>
                    </div>
                    <div>
                        <div for="fullyExecuted" class="font-style">Fully executed</div>
                        <input type="checkbox" id="fullyExecuted" class="form-check-input checkbox" disabled [checked]="isFullyExecuted(studyAgreement.value)" />
                    </div>
                </div>
                <div class="row" *ngIf="submitted && studyAgreement.errors">
                    <div class="col-md-12 invalid-feedback d-block">
                        <p *ngIf="studyAgreement.errors.signedBeforeDraftSent">A signature date cannot be before the
                            date the draft was sent to Sponsor</p>
                        <p *ngIf="studyAgreement.errors.endBeforeStart">End date cannot be before start date</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-3">
                        <div for="startDate" class="font-style">Start date</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" ngbDatepicker #startDate="ngbDatepicker" formControlName="startDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="startDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(studyAgreement.value.startDate)}}</div>
                    </div>
                    <div class="col-md-3">
                        <div for="endDate" class="font-style">End date</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" ngbDatepicker #endDate="ngbDatepicker" formControlName="endDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="endDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(studyAgreement.value.endDate)}}</div>
                    </div>
                    <div class="col-md-6">
                        <div for="comment" class="font-style">Comment</div>
                        <textarea *ngIf="!isView" class="form-control" rows="2" placeholder="Comment" formControlName="comment"></textarea>
                        <div *ngIf="isView" class="text-value">{{studyAgreement.value.comment}}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <app-upsert-study-agreement-amendment [studyAgreementAmendments]="studyAgreement.value.studyAgreementAmendments" [agreementStartDate]="studyAgreement.value.startDate" #studyAgreementAmendments></app-upsert-study-agreement-amendment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>