.mat-column-personName {
    flex: 0 0 25% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-personEmail {
    flex: 0 0 30% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-personCountry {
    flex: 0 0 20% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-personIsEuCo {
    flex: 0 0 15% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}