<form [formGroup]="studyForm">
    <div formArrayName="studies">
        <div class="row" *ngFor="let study of getStudiesForm().controls; let i = index;"
            [formGroupName]="i">
            <div class="col-12" [id]="'featpanel'+i">
                <hr *ngIf="i > 0">
                <div class="row">
                    <div class="col-6 text-left d-flex align-items-center">
                        <div class="view-sub-sub-title mb-4 study-title">Study {{i+1}}{{study.value.shortTitle ? ": " + study.value.shortTitle : "" }}</div>
                        <i class="fa fa-trash ml-4 mb-4 study-delete-icon" style="color:#f24437; cursor: pointer;" *ngIf="!isView" (click)="removeStudy(i)">
                        </i>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <div for="shortTitle" class="font-style text-capitalize">Short title</div>
                        <input type="text" id="shortTitle" class="form-control" placeholder="e.g. RECOVERY"
                            formControlName="shortTitle" *ngIf="!isView" />
                        <div *ngIf="isView" class="text-value">{{study.value.shortTitle}}</div>
                    </div>
                    <div class="col-md-8">
                        <div for="title" class="font-style text-capitalize">Title</div>
                        <textarea cols="30" rows="2" class="form-control" placeholder="Full study title"
                            formControlName="title" *ngIf="!isView" id="title" (change)="onChange()" 
                            [ngClass]="{ 'is-invalid': submitted && getControls(i).title.errors }"></textarea>
                            <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && getControls(i).title.errors">
                                <p *ngIf="submitted && getControls(i).title.errors.required">Please enter the study title</p>
                            </div>
                        <div *ngIf="isView" class="text-value">{{study.value.title}}</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <div for="trialId" class="font-style text-capitalize">Trial ID</div>
                        <input type="text" id="trialId" class="form-control" placeholder=""
                            formControlName="trialId" *ngIf="!isView" />
                        <div *ngIf="isView" class="text-value">{{study.value.trialId}}</div>
                    </div>
                    <div class="col-md-4">
                        <div for="category" class="font-style text-capitalize">Category</div>
                        <input type="text" id="category" class="form-control" placeholder="study type?"
                            formControlName="category" *ngIf="!isView" />
                        <div *ngIf="isView" class="text-value">{{study.value.category}}</div>
                    </div>
                    <div class="col-md-4">
                        <div for="status" class="font-style text-capitalize">Status</div>
                        <ng-select [items]="studyStatuses" formControlName="status"
                            [multiple]="false" [virtualScroll]="false" class="form-control ng-form-control" 
                            notFoundText="No study status found" placeholder="Select study status" *ngIf="!isView" 
                            appendTo="body">
                        </ng-select>
                        <div class="text-value" *ngIf="isView">{{study.value.status}}</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-4">
                        <div for="pi" class="font-style text-capitalize">PI</div>
                        <input type="text" id="pi" class="form-control" placeholder="(this will link to a 'Person' object)"
                            formControlName="pi" *ngIf="!isView" disabled/>
                        <div *ngIf="isView" class="text-value" disabled></div>
                        <!-- <div *ngIf="isView" class="text-value">{{study.value..pi}}</div> -->
                    </div>
                    <div class="col-md-4">
                        <div for="sponsor" class="font-style text-capitalize">Sponsor</div>
                        <input type="text" id="sponsor" class="form-control" placeholder="Sponsor name"
                            formControlName="sponsor" *ngIf="!isView" />
                        <div *ngIf="isView" class="text-value">{{study.value.sponsor}}</div>
                    </div>
                    <div class="col-md-4">
                        <div for="regulatoryFramework" class="font-style text-capitalize">Regulatory Framework</div>
                        <ng-select [items]="regulatoryFrameworks" formControlName="regulatoryFramework"
                            [multiple]="false" [virtualScroll]="false" class="form-control ng-form-control" 
                            notFoundText="No regulatory frameworks found" placeholder="Select regulatory framework" *ngIf="!isView" 
                            appendTo="body">
                        </ng-select>
                        <div class="text-value" *ngIf="isView">{{study.value.regulatoryFramework}}</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div for="summary" class="font-style text-capitalize">Summary</div>
                        <textarea cols="30" rows="3" class="form-control" placeholder="Study summary"
                            formControlName="summary" *ngIf="!isView" id="summary" [ngClass]="{ 'is-invalid': submitted && getControls(i).summary.errors }"></textarea>
                            <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && getControls(i).summary.errors">
                                <p *ngIf="submitted && getControls(i).summary.errors.required">Please enter the study summary</p>
                            </div>
                        <div *ngIf="isView" class="text-value">{{study.value.summary}}</div>
                    </div>
                </div>
                <app-upsert-study-country #studyCountries [studyCountriesData]="study.value.studyCountries" [countries]="countries" [studyId]="study.value.id"></app-upsert-study-country>
            </div>
        </div>
    </div>
</form>
<hr *ngIf="getStudiesForm().controls.length > 0">
<div class="row mt-5 pb-4" *ngIf="!isView">
    <div class="col-2 d-flex align-items-center justify-content-left">
        <button class="btn btn-primary" (click)="addStudy()">
            <i class="fa fa-plus"></i>New study
        </button>
    </div>
</div>