<form [formGroup]="form" ngNativeValidate>
    <div formArrayName="studyCountries">
        <div class="row" *ngFor="let sc of getStudyCountriesForm().controls; let i = index;"
            [formGroupName]="i">
            <div class="col-12" [id]="'featpanel'+i">
                <hr *ngIf="i > 0">
                <ng-container *ngIf="!isSCPage; else cardWrapper">
                    <mat-expansion-panel [expanded]="!sc.value.id ? true : false">
                        <mat-expansion-panel-header>
                            <span class="view-sub-title">{{getCountryFlag(sc.value.country)}}&nbsp;{{sc.value.country?.name}}</span>
                            <div class="p-0 m-0 d-flex align-items-center justify-content-center">
                                <i class="fa fa-trash ms-4 study-delete-icon" style="color:#f24437; cursor: pointer;" *ngIf="!isView && !id" (click)="deleteStudyCountry($event, i)">
                                </i>
                                </div>
                        </mat-expansion-panel-header>
                        <hr class="mt-0">
                        <ng-container *ngTemplateOutlet="scView"></ng-container>
                    </mat-expansion-panel>
                </ng-container>
                <ng-template #cardWrapper>
                    <div class="card margin-side">
                        <div class="card-header">
                            <div id="navbar">
                                <div class="row upsert-navbar">
                                    <div class="col-md-8 d-inline-flex">
                                        <div class="view-title text-truncate">
                                            <a [routerLink]="isView ? ['/projects', sc.value.study?.project?.id, 'view'] : ['/projects', sc.value.study?.project?.id, 'edit']">{{sc.value.study?.project?.shortName}}</a>&nbsp;&nbsp;❯&nbsp;&nbsp;
                                            <a [routerLink]="isView ? ['/studies', sc.value.study?.id, 'view'] : ['/studies', sc.value.study?.id, 'edit']">{{sc.value.study?.shortTitle}}</a>&nbsp;&nbsp;❯&nbsp;&nbsp;Study Country: {{sc.value.country?.name}}
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-end">
                                        <ng-container *ngIf="isView">
                                            <a [routerLink]="['/study-countries', id, 'edit']" class="btn btn-primary me-2">
                                                <i class="fa fa-edit"></i> Edit
                                            </a>
                                            <!-- <button class="btn btn-primary me-1" (click)="print()">
                                                <i class="fa fa-print"></i> PDF
                                            </button>
                                            <button class="btn btn-primary me-1" (click)="jsonExport()">
                                                <i class="fa fa-code"></i> JSON
                                            </button> -->
                                            <button class="btn btn-warning" (click)="back()">Back</button>
                                        </ng-container>
                                        <ng-container *ngIf="!isView">
                                            <button class="btn btn-success me-2" (click)="onSaveStudyCountry()">Save</button>
                                            <button class="btn btn-warning" (click)="back()">Cancel</button>
                                        </ng-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="permanentNavbar"></div>
                        <div class="card-body" id="formContainer">
                            <ng-container *ngTemplateOutlet="scView"></ng-container>
                        </div>
                    </div>
                </ng-template>

                <ng-template #scView>
                    <div class="row section-title-field">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Country<sup *ngIf="!isView">*</sup></div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-3">
                            <ng-select [items]="countries" formControlName="country" [searchFn]="searchCountries"
                                [multiple]="false" [virtualScroll]="true" [compareWith]="compareCountries" (change)="onChangeCountry(i)"
                                notFoundText="No countries found" placeholder="Select country" *ngIf="!isView && !isSCPage"
                                appendTo="body" name="country" [ngClass]="{ 'is-invalid': submitted && getControls(i).country.errors?.required }">
                                <ng-template ng-label-tmp let-item="item">{{item.name}}</ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                    <div class="row m-0">
                                        <div class="col-md-12 col-12 p-0 m-0">{{item.name}}</div>
                                    </div>
                                </ng-template>
                            </ng-select>
                            <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && getControls(i).country.errors?.required">
                                <p>Please select the country</p>
                            </div>
                            <span *ngIf="isView || isSCPage" class="text-value">{{getCountryFlag(sc.value.country)}}&nbsp;{{sc.value.country?.name}}</span>
                        </div>
                    </div>
                    <hr class="hr-m2">
                    <div class="row section-title-field">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">List of CTUs and services (in country)</div>
                        </div>
                    </div>
                    <div class="row form-group" *ngIf="!isView; else viewStudyCTUs">
                        <div class="col-md-12 justify-content-center mt-2">
                            <app-upsert-study-ctu #studyCTUs [studyCTUsData]="sc.value.studyCTUs" [studyCountry]="sc.value"></app-upsert-study-ctu>
                        </div>
                    </div>
                    <ng-template #viewStudyCTUs>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <ul>
                                    <li *ngFor="let sctu of sc.value.studyCTUs; let j = index;" class="text-value" [ngClass]="j > 0 ? 'mt-5' : ''">
                                        <a [routerLink]="['/study-ctus', sctu.id, 'view']" class="li-text-1">{{sctu.ctu?.shortName ? sctu.ctu.shortName + ' - ' : '' }}{{sctu.ctu?.name}}</a>
                                        <ul>
                                            <li *ngIf="sctu.services?.length > 0" class="mt-2">
                                                <div class="tags-container">
                                                    <span *ngFor="let service of sctu.services" class="tag" 
                                                        [ngStyle]="{ 'border-color': getTagBorderColor(service.value), 'background-color': getTagBgColor(service.value) }">{{service.value}}</span>
                                                </div>
                                            </li>
                                            <li *ngIf="sctu.centres?.length > 0" class="mt-2">Sites
                                                <ul>
                                                    <li *ngFor="let site of sctu.centres" class="text-value">
                                                        {{site.hospital?.name}}
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-template>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Initial regulatory submission</div>
                        </div>
                    </div>
                    <app-upsert-submission #regulatorySubmissions [submissionsData]="sc.value.submissions" [studyCountry]="sc.value"></app-upsert-submission>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Amendments</div>
                        </div>
                    </div>
                    <app-upsert-submission #amendments [isAmendments]="true" [submissionsData]="sc.value.amendments" [studyCountry]="sc.value"></app-upsert-submission>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Safety Notifications - Annual Progress Report</div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <ng-container *ngIf="studyUsesCtisForSafetyNotifications && isCtisCountry(sc.value.country) && !isCountryWhereCtisFlagChecked(sc.value.country) && !isView; else annualComponents">
                            <div class="col-md-12">
                                Reports are submitted through CTIS, please see Safety Notifications sections in&nbsp;&nbsp;{{getCountryFlag(countryWhereCtisFlagChecked)}}&nbsp;{{countryWhereCtisFlagChecked?.name}} to edit them for all CTIS countries.
                            </div>
                        </ng-container>
                        <ng-template #annualComponents>
                            <div class="col-md-6">
                                <app-upsert-safety-notification #safetyNotificationsAnnualEC [safetyNotificationsData]="sc.value.safetyNotificationsAnnualEC" 
                                    [typeCode]="contextService.SafetyNotificationTypeCodes.AnnualProgressReport" [form]="snForms[i]?.snAnnualEcForm"
                                    [authorityCode]="contextService.AuthorityCodes.EC" [studyCountry]="sc.value"></app-upsert-safety-notification>
                            </div>
                            <div class="col-md-6">
                                <app-upsert-safety-notification #safetyNotificationsAnnualCA [safetyNotificationsData]="sc.value.safetyNotificationsAnnualCA" 
                                    [typeCode]="contextService.SafetyNotificationTypeCodes.AnnualProgressReport" [form]="snForms[i]?.snAnnualCaForm"
                                    [authorityCode]="contextService.AuthorityCodes.CA" [studyCountry]="sc.value"></app-upsert-safety-notification>
                            </div>
                        </ng-template> -->
                        <div class="col-md-6">
                            <app-upsert-safety-notification #safetyNotificationsAnnualEC [form]="snForms[i]?.snAnnualEcForm"
                                [typeCode]="contextService.SafetyNotificationTypeCodes.AnnualProgressReport"
                                [authorityCode]="contextService.AuthorityCodes.EC" [studyCountry]="sc.value"></app-upsert-safety-notification>
                        </div>
                        <div class="col-md-6">
                            <app-upsert-safety-notification #safetyNotificationsAnnualCA [form]="snForms[i]?.snAnnualCaForm" 
                                [typeCode]="contextService.SafetyNotificationTypeCodes.AnnualProgressReport"
                                [authorityCode]="contextService.AuthorityCodes.CA" [studyCountry]="sc.value"></app-upsert-safety-notification>
                        </div>
                    </div>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Safety Notifications - DSUR</div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <ng-container *ngIf="studyUsesCtisForSafetyNotifications && isCtisCountry(sc.value.country) && !isCountryWhereCtisFlagChecked(sc.value.country) && !isView; else dsurComponents">
                            <div class="col-md-12">
                                Reports are submitted through CTIS, please see Safety Notifications sections in&nbsp;&nbsp;{{getCountryFlag(countryWhereCtisFlagChecked)}}&nbsp;{{countryWhereCtisFlagChecked?.name}} to edit them for all CTIS countries.
                            </div>
                        </ng-container>
                        <ng-template #dsurComponents>
                            <div class="col-md-6">
                                <app-upsert-safety-notification #safetyNotificationsDsurEC [safetyNotificationsData]="sc.value.safetyNotificationsDsurEC" 
                                    [typeCode]="contextService.SafetyNotificationTypeCodes.DSUR" [form]="snForms[i]?.snDsurEcForm"
                                    [authorityCode]="contextService.AuthorityCodes.EC" [studyCountry]="sc.value"></app-upsert-safety-notification>
                            </div>
                            <div class="col-md-6">
                                <app-upsert-safety-notification #safetyNotificationsDsurCA [safetyNotificationsData]="sc.value.safetyNotificationsDsurCA" 
                                    [typeCode]="contextService.SafetyNotificationTypeCodes.DSUR" [form]="snForms[i]?.snDsurCaForm"
                                    [authorityCode]="contextService.AuthorityCodes.CA" [studyCountry]="sc.value"></app-upsert-safety-notification>
                            </div>
                        </ng-template> -->
                        <div class="col-md-6">
                            <app-upsert-safety-notification #safetyNotificationsDsurEC [form]="snForms[i]?.snDsurEcForm"
                                [typeCode]="contextService.SafetyNotificationTypeCodes.DSUR"
                                [authorityCode]="contextService.AuthorityCodes.EC" [studyCountry]="sc.value"></app-upsert-safety-notification>
                        </div>
                        <div class="col-md-6">
                            <app-upsert-safety-notification #safetyNotificationsDsurCA [form]="snForms[i]?.snDsurCaForm"
                                [typeCode]="contextService.SafetyNotificationTypeCodes.DSUR"
                                [authorityCode]="contextService.AuthorityCodes.CA" [studyCountry]="sc.value"></app-upsert-safety-notification>
                        </div>
                    </div>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Safety Notifications - CTIS</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-center">
                            <ng-container *ngIf="isCtisCountry(sc.value.country); else nonCtisCountry">
                                <input type="checkbox" class="form-check-input checkbox-2 me-2 mt-0" *ngIf="!isView"
                                    [checked]="studyUsesCtisForSafetyNotifications" (click)="onChangeCtis($event, i)"/>
                                <span class="text-value" *ngIf="!isView">Reports submitted through CTIS</span>
                                <span class="text-value" *ngIf="isView">{{studyUsesCtisForSafetyNotifications ? "Reports submitted through CTIS" : "Reports not submitted through CTIS"}}</span>
                            </ng-container>
                            <ng-template #nonCtisCountry>
                                <span class="text-value">N/A for non-CTIS countries</span>
                            </ng-template>
                        </div>
                    </div>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">Other types of notification</div>
                        </div>
                    </div>
                    <app-upsert-submission #otherNotifications [isOthers]="true" [submissionsData]="sc.value.otherNotifications" [studyCountry]="sc.value"></app-upsert-submission>
                    <hr class="hr-m2">
                    <div class="row section-title">
                        <div class="col-md-12 text-left">
                            <div class="text-value" class="view-sub-title">End of trial notifications</div>
                        </div>
                    </div>
                    <app-upsert-notification #notifications [notificationsData]="sc.value.notifications" [studyCountry]="sc.value"></app-upsert-notification>
                </ng-template>
            </div>
        </div>
    </div>
</form>
<hr *ngIf="!isSCPage && !isView && getStudyCountriesForm().controls.length > 0">
<div class="row mt-5 pb-4" *ngIf="!isSCPage && !isView">
    <div class="col-3 text-left justify-content-left">
        <button class="btn btn-primary" (click)="addStudyCountry()">
            <i class="fa fa-plus"></i>New study country
        </button>
    </div>
</div>