<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">Add new person</h5>
    </div>
    <div class="modal-body">
        <div class="row form-group">
            <div class="col-md-12">
                <label for="fullName" class="font-style text-capitalize">Full name<sup>*</sup></label>
                <input type="text" id="fullName" class="form-control" [(ngModel)]="fullName"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label for="email" class="font-style text-capitalize">Email</label>
                <input type="text" id="email" class="form-control" [(ngModel)]="email"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <label for="position" class="font-style text-capitalize">Position</label>
                <input type="text" id="position" class="form-control" [(ngModel)]="position"/>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSave()">Add</button>
        <button type="button" class="btn btn-danger" (click)="closeModal()">Cancel</button>
    </div>
</div>