<div class="card">
    <div class="card-header">
        <div id="navbar">
            <div class="row upsert-navbar">
                <div class="col-md-8">
                    <div class="view-title">{{projectForm.value.shortName ? projectForm.value.shortName : projectForm.value.name ? projectForm.value.name : ''}}</div>
                </div>
                <div class="col-md-4 text-right">
                    <ng-container *ngIf="isView">
                        <a [routerLink]="['/projects', id, 'edit']" class="btn btn-primary mr-1">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <!-- <button class="btn btn-primary mr-1" (click)="print()">
                            <i class="fa fa-print"></i> PDF
                        </button>
                        <button class="btn btn-primary mr-1" (click)="jsonExport()">
                            <i class="fa fa-code"></i> JSON
                        </button> -->
                        <button class="btn btn-warning" (click)="back()">Back</button>
                    </ng-container>
                    <ng-container *ngIf="!isView">
                        <button class="btn btn-success mr-5" (click)="onSave()">Save</button>
                        <button class="btn btn-warning" (click)="back()">Cancel</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div id="permanentNavbar"></div>

    <div class="card-body" id="formContainer">
        <form [formGroup]="projectForm">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-value" class="mb-5 pb-4 view-sub-title">Project</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <div for="shortName" class="font-style text-capitalize">Short name<sup>*</sup></div>
                    <input type="text" id="shortName" class="form-control" placeholder="e.g. INVENTS"
                        formControlName="shortName" *ngIf="!isView" />
                    <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && g.shortName.errors">
                        <p *ngIf="submitted && g.shortName.errors.required">Please enter the project's (short) name</p>
                    </div>
                    <div *ngIf="isView" class="text-value">{{projectData?.shortName ? projectData?.shortName : ''}}</div>
                </div>
                <div class="col-md-10">
                    <div for="name" class="font-style text-capitalize">Name<sup>*</sup></div>
                    <textarea cols="30" rows="2" class="form-control" placeholder="Full project name"
                        formControlName="name" *ngIf="!isView" id="name" [ngClass]="{ 'is-invalid': submitted && g.name.errors }"></textarea>
                    <div *ngIf="isView" class="text-value">{{projectData?.name}}</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <div for="startDate" class="font-style text-capitalize">Start date</div>
                    <div class="input-group" *ngIf="!isView">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="startDate" ngbDatepicker #startDate="ngbDatepicker"
                            [ngClass]="{ 'is-invalid': submitted && g.startDate.errors }"
                            formControlName="startDate" container='body'>
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                (click)="startDate.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="isView" class="text-value">{{projectData?.startDate}}</div>
                    <!-- <div *ngIf="isView" class="text-value">{{dateToString(projectData?.startDate)}}</div> -->
                </div>
                <div class="col-md-2">
                    <div for="endDate" class="font-style text-capitalize">End date</div>
                    <div class="input-group" *ngIf="!isView">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="endDate" ngbDatepicker #endDate="ngbDatepicker"
                            [ngClass]="{ 'is-invalid': submitted && g.endDate.errors }"
                            formControlName="endDate" container='body'>
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                (click)="endDate.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <!-- <div *ngIf="isView" class="text-value">{{dateToString(projectData?.endDate)}}</div> -->
                    <div *ngIf="isView" class="text-value">{{projectData?.endDate}}</div>
                </div>
                <div class="col-md-2">
                    <div for="totalPatientsExpected" class="font-style text-capitalize">Total patients expected</div>
                    <input type="text" id="totalPatientsExpected" class="form-control"
                        formControlName="totalPatientsExpected" *ngIf="!isView"/>
                    <div *ngIf="isView" class="text-value">{{projectData?.totalPatientsExpected}}</div>
                </div>
                <div class="col-md-2">
                    <div for="totalNumberOfSites" class="font-style text-capitalize">Total no. of sites</div>
                    <div class="text-value">{{getTotalNumberOfSites()}}</div>
                </div>
                <div class="col-md-3">
                    <div for="url" class="font-style text-capitalize">URL</div>
                    <input type="text" id="url" class="form-control" placeholder="Link the the project's website"
                        formControlName="url" *ngIf="!isView" />
                    <a href="{{projectData?.url}}" target="_blank">
                        <div *ngIf="isView" class="text-value">{{projectData?.url}}</div>
                    </a>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-5">
                            <div for="pi" class="font-style text-capitalize">Coordinator</div>
                            <input type="text" id="coordinator" class="form-control" formControlName="coordinator" *ngIf="!isView" />
                            <div *ngIf="isView" class="text-value">{{projectData?.coordinator}}</div>
                        </div>
                        <div class="col-md-7">
                            <div for="cEuco" class="font-style text-capitalize">Coordinating EuCo</div>
                            <ng-select [items]="persons" formControlName="cEuco" [searchFn]="searchPersons" [compareWith]="compareIds"
                                [virtualScroll]="false" class="form-control ng-form-control" 
                                notFoundText="No people found" placeholder="Start typing to add a new person" *ngIf="!isView" 
                                addTagText="Add" [addTag]="addPerson" appendTo="body">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                    <span class="ng-value-label">{{item.fullName}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                    <div class="row m-0">
                                        <div class="col-md-11 col-11 p-0 m-0">
                                            <div class="col-md-12">{{item.fullName}}</div>
                                            <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.email}}</div>
                                        </div>
                                        <div class="col-md-1 col-1 p-0 m-0 d-flex">
                                            <div class="col-md-12 col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                <i class="fa fa-trash" style="color:#f24437; cursor: pointer;" (click)="deletePerson($event, item)">
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-select>
                            <div class="text-value" *ngIf="isView">{{projectData?.cEuco?.fullName}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-9">
                            <div for="fundingSources" class="font-style text-capitalize">Funding source(s)</div>
                            <ng-select [items]="fundingSources" formControlName="fundingSources" [multiple]="true" (change)="onChangeFundingSources()"
                                [searchFn]="searchFundingSources" [compareWith]="compareIds" [clearSearchOnAdd]="true"
                                [hideSelected]="true" [closeOnSelect]="false" [virtualScroll]="false" class="form-control ng-form-control" 
                                notFoundText="No funding source found" placeholder="Start typing to add a new funding source" *ngIf="!isView" 
                                addTagText="Add" [addTag]="addFundingSource" appendTo="body">
                                <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                    <span class="ng-value-label">{{item.name}}</span>
                                    <span class="ng-value-icon right" (click)="clear(item)">×</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                    <div class="row m-0">
                                        <div class="col-md-11 col-11 p-0 m-0">{{item.name}}</div>
                                        <div class="col-md-1 col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                            <i class="fa fa-trash" style="color:#f24437; cursor: pointer;" (click)="deleteFundingSource($event, item)">
                                            </i>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-select>
                            <div class="text-value" *ngIf="isView">{{displayFundingSources(projectData?.fundingSources)}}</div>
                        </div>
                        <div class="col-md-3" *ngIf="hasPublicFunding">
                            <div for="gaNumber" class="font-style text-capitalize">GA number</div>
                            <input type="text" id="gaNumber" class="form-control" placeholder="e.g. 101136365"
                                formControlName="gaNumber" *ngIf="!isView"/>
                            <div *ngIf="isView" class="text-value">{{projectData?.gaNumber ? projectData?.gaNumber : ''}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    <div for="services" class="font-style text-capitalize">ECRIN services</div>
                    <ng-select [items]="services" formControlName="services" [multiple]="true"
                        [searchFn]="searchServices" [compareWith]="compareIds" [clearSearchOnAdd]="true"
                        [hideSelected]="true" [closeOnSelect]="false" [virtualScroll]="false" class="form-control ng-form-control" 
                        notFoundText="No service found" placeholder="Start typing to add a new service" *ngIf="!isView" 
                        addTagText="Add" [addTag]="addService" appendTo="body">
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label">{{item.name}}</span>
                            <span class="ng-value-icon right" (click)="clear(item)">×</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                            <div class="row m-0">
                                <div class="col-md-11 col-11 p-0 m-0">{{item.name}}</div>
                                <div class="col-md-1 col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                    <i class="fa fa-trash" style="color:#f24437; cursor: pointer;" (click)="deleteService($event, item)">
                                    </i>
                                </div>
                            </div>
                        </ng-template>
                    </ng-select>
                    <div *ngIf="isView" class="tags-container">
                        <span *ngFor="let service of projectData?.services" class="service-tag" 
                            [ngStyle]="{ 'border-color': getTagTextColor(service.name), 'background-color': getTagBgColor(service.name) }">{{service.name}}</span>
                    </div>
                    <!-- <div class="text-value" *ngIf="isView">{{displayServices(projectData?.services)}}</div> -->
                </div>
            </div>
        </form>
        <hr>
        <app-upsert-study [studiesData]="projectData?.studies" [isView]="isView" [isEdit]="isEdit"></app-upsert-study>
    </div>
</div>
<br />