<form [formGroup]="form" ngNativeValidate>
    <div formArrayName="ctuAgreements">
        <div class="row" *ngFor="let ctuAgreement of getCTUAgreementsForm()?.controls; let i = index;"
            [formGroupName]="i">
            <div class="col">
                <div class="row mb-1">
                    <div class="col-md-4">
                        <span class="view-sub-sub-title underline">Initial ECRIN-CTU Agreement</span>
                    </div>
                </div>
                <div class="agreement-fields-grid">
                    <div>
                        <div for="contractStatus" class="font-style">Contract status</div>
                        <div class="text-value">{{contractStatus(ctuAgreement.value)}}</div>
                    </div>
                    <div>
                        <div for="draftSentDate" class="font-style">Draft sent to CTU</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="draftSentDate" ngbDatepicker
                                [maxDate]="today" #draftSentDate="ngbDatepicker" formControlName="draftSentDate"
                                container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="draftSentDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(ctuAgreement.value.draftSentDate)}}</div>
                    </div>
                    <div>
                        <div for="signedByCtuDate" class="font-style">Signed by CTU</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="signedByCtuDate" ngbDatepicker
                                [maxDate]="today" #signedByCtuDate="ngbDatepicker" formControlName="signedByCtuDate"
                                container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="signedByCtuDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(ctuAgreement.value.signedByCtuDate)}}</div>
                    </div>
                    <div>
                        <div for="signedByEcrinDate" class="font-style">Signed by ECRIN</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="signedByEcrinDate" ngbDatepicker
                                [maxDate]="today" #signedByEcrinDate="ngbDatepicker" formControlName="signedByEcrinDate"
                                container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="signedByEcrinDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(ctuAgreement.value.signedByEcrinDate)}}</div>
                    </div>
                    <div>
                        <div for="fullyExecuted" class="font-style">Fully executed</div>
                        <input type="checkbox" id="fullyExecuted" class="form-check-input checkbox" disabled
                            [checked]="isFullyExecuted(ctuAgreement.value)" />
                    </div>
                </div>
                <div class="row" *ngIf="submitted && ctuAgreement.errors">
                    <div class="col-md-12 invalid-feedback d-block">
                        <p *ngIf="ctuAgreement.errors.signedBeforeDraftSent">A signature date cannot be before the
                            date the draft was sent to the CTU</p>
                        <p *ngIf="ctuAgreement.errors.endBeforeStart">End date cannot be before start date</p>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-2">
                        <div for="startDate" class="font-style">Start date</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="startDate" ngbDatepicker
                                #startDate="ngbDatepicker" formControlName="startDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="startDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(ctuAgreement.value.startDate)}}</div>
                    </div>
                    <div class="col-md-2">
                        <div for="endDate" class="font-style">End date</div>
                        <div class="input-group" *ngIf="!isView">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="endDate" ngbDatepicker
                                #endDate="ngbDatepicker" formControlName="endDate" container='body'>
                            <div class="input-group-append">
                                <button class="btn btn-primary" (click)="endDate.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="isView" class="text-value">{{dateToString(ctuAgreement.value.endDate)}}</div>
                    </div>
                    <div class="col-md-6">
                        <div for="comment" class="font-style">Comment</div>
                        <textarea *ngIf="!isView" class="form-control" rows="2" placeholder="Comment"
                            formControlName="comment"></textarea>
                        <div *ngIf="isView" class="text-value">{{ctuAgreement.value.comment}}</div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12">
                        <app-upsert-ctu-agreement-amendment
                            [ctuAgreementAmendments]="ctuAgreement.value.ctuAgreementAmendments"
                            [agreementStartDate]="ctuAgreement.value.startDate"
                            #ctuAgreementAmendments></app-upsert-ctu-agreement-amendment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
