<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
    </div>
    <div class="modal-body">
        <div class="row ms-3">
            <div class="col-md-12">
                <h6>{{message}}</h6>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn" [class]="buttonClass" (click)="closeModal(true)">{{buttonMessage}}</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal(false)">Cancel</button>
    </div>
</div>