.mat-column-shortName {
    flex: 0 0 12% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-startDate {
    flex: 0 0 8% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-endDate {
    flex: 0 0 8% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-projectCoordinator {
    flex: 0 0 18% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-coordinatingInstitution {
    flex: 0 0 18% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-fundingSources {
    flex: 0 0 16% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-studies {
    flex: 0 0 12% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}