<form [formGroup]="form" ngNativeValidate>
    <div formArrayName="centres">
        <div class="row" *ngFor="let centre of getCentresForm().controls; let i = index;"
            [formGroupName]="i">
            <div class="col-12" [id]="'featpanel'+i">
                <hr *ngIf="i > 0">
                <div class="row form-group align-items-center">
                    <div class="col-md-11">
                        <div class="row form-group align-items-end">
                            <div class="col-md-1">
                                <div for="siteNumber" class="font-style text-capitalize">Site No.</div>
                                <input type="text" id="siteNumber" class="form-control" formControlName="siteNumber" *ngIf="!isView"/>
                                <span class="text-value" *ngIf="isView">{{centre.value.siteNumber}}</span>
                            </div>
                            <div class="col-md-3">
                                <div for="town" class="font-style text-capitalize">Town</div>
                                <input type="text" id="town" class="form-control" formControlName="town" *ngIf="!isView"/>
                                <span class="text-value" *ngIf="isView">{{centre.value.town}}</span>
                            </div>
                            <div class="col-md-3">
                                <div for="hospital" class="font-style text-capitalize">Hospital</div>
                                <input type="text" id="hospital" class="form-control" formControlName="hospital" *ngIf="!isView"/>
                                <span class="text-value" *ngIf="isView">{{centre.value.hospital}}</span>
                            </div>
                            <div class="col-md-5">
                                <div class="row align-items-end">
                                    <div [ngClass]="isView ? 'col-md-12' : 'col-md-8'">
                                        <div for="pi" class="font-style text-capitalize">PI</div>
                                        <ng-select [items]="persons" formControlName="pi" [searchFn]="searchPersons" [compareWith]="compareIds"
                                            [virtualScroll]="false" class="form-control ng-form-control" notFoundText="No people found" 
                                            placeholder="Start typing to add a new person" *ngIf="!isView" 
                                            addTagText="Add" [addTag]="addPerson" appendTo="body">
                                            <ng-template ng-label-tmp let-item="item" let-clear="clear">
                                                <span class="ng-value-label">{{item.fullName}}</span>
                                            </ng-template>
                                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                <div class="row m-0">
                                                    <div class="col-md-11 col-11 p-0 m-0">
                                                        <div class="col-md-12">{{item.fullName}}</div>
                                                        <div class="col-md-12" style="font-size: 83%; color: gray;">{{item.email}}</div>
                                                    </div>
                                                    <div class="col-md-1 col-1 p-0 m-0 d-flex">
                                                        <div class="col-md-12 col-1 p-0 m-0 d-flex align-items-center justify-content-center">
                                                            <i class="fa fa-trash" style="color:#f24437; cursor: pointer;" (click)="deletePerson($event, item)">
                                                            </i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </ng-select>
                                        <div class="text-value" *ngIf="isView">{{centre.value.pi?.fullName}}{{centre.value.piNationalCoordinator ? ' (National coordinator)' : ''}}</div>
                                    </div>
                                    <div class="col-md-4" *ngIf="!isView">
                                        <div for="piNationalCoordinator" class="font-style text-capitalize">PI National Coordinator?</div>
                                        <input type="checkbox" id="piNationalCoordinator" class="form-control" formControlName="piNationalCoordinator"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col-md-2">
                                <div for="patientsExpected" class="font-style text-capitalize">Patients expected</div>
                                <input type="text" id="patientsExpected" class="form-control" formControlName="patientsExpected" *ngIf="!isView"/>
                                <span class="text-value" *ngIf="isView">{{centre.value.patientsExpected}}</span>
                                <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && getControls(i).patientsExpected.errors?.pattern">
                                    <p>If set, the patients expected field should be a number</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div for="recruitmentGreenlight" class="font-style text-capitalize">Recruitment Greenlight</div>
                                <div class="input-group" *ngIf="!isView">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                    name="recruitmentGreenlight" ngbDatepicker #recruitmentGreenlight="ngbDatepicker"
                                    formControlName="recruitmentGreenlight" container='body'>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                        (click)="recruitmentGreenlight.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                    </div>
                                </div>
                                <span class="text-value" *ngIf="isView">{{dateToString(centre.value.recruitmentGreenlight)}}</span>
                            </div>
                            <div class="col-md-3">
                                <div for="movExpectedNumber" class="font-style text-capitalize">MOV Expected No.</div>
                                <input type="text" id="movExpectedNumber" class="form-control" formControlName="movExpectedNumber" *ngIf="!isView"/>
                                <span class="text-value" *ngIf="isView">{{centre.value.movExpectedNumber}}</span>
                                <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && getControls(i).movExpectedNumber.errors?.pattern">
                                    <p>If set, the MOV expected number field should be a number</p>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div for="firstPatientVisit" class="font-style text-capitalize">First patient visit</div>
                                <div class="input-group" *ngIf="!isView">
                                    <input class="form-control" placeholder="yyyy-mm-dd"
                                    name="firstPatientVisit" ngbDatepicker #firstPatientVisit="ngbDatepicker"
                                    formControlName="firstPatientVisit" container='body'>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary"
                                        (click)="firstPatientVisit.toggle()" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                    </div>
                                </div>
                                <span class="text-value" *ngIf="isView">{{dateToString(centre.value.firstPatientVisit)}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1 d-flex justify-content-center align-items-center">
                        <div class="row">
                            <i class="fa fa-trash sc-delete-icon" style="color:#f24437; cursor: pointer;" *ngIf="!isView" (click)="removeCentre(i)"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="row mt-5 pb-4" *ngIf="!isView && studyCTU?.ctu">
    <div class="col-2 d-flex align-items-center justify-content-left">
        <button class="btn btn-primary" (click)="addCentre()">
            <i class="fa fa-plus"></i>New centre
        </button>
    </div>
</div>