<div class="card">
    <div class="card-header">
        <div id="navbar">
            <div class="row upsert-navbar">
                <div class="col-md-8">
                    <div class="text-capitalize view-title">{{projectForm.value.shortName ? projectForm.value.shortName : projectForm.value.name ? projectForm.value.name : ''}}</div>
                </div>
                <div class="col-md-4 text-right">
                    <ng-container *ngIf="isView">
                        <a [routerLink]="['/projects', id, 'edit']" class="btn btn-primary mr-1">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <!-- <button class="btn btn-primary mr-1" (click)="print()">
                            <i class="fa fa-print"></i> PDF
                        </button>
                        <button class="btn btn-primary mr-1" (click)="jsonExport()">
                            <i class="fa fa-code"></i> JSON
                        </button> -->
                        <button class="btn btn-warning" (click)="back()">Back</button>
                    </ng-container>
                    <ng-container *ngIf="!isView">
                        <button class="btn btn-success mr-5" (click)="onSave()">Save</button>
                        <button class="btn btn-warning" (click)="back()">Cancel</button>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    <div id="permanentNavbar"></div>

    <div class="card-body" id="formContainer">
        <form [formGroup]="projectForm">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="text-value" class="mb-5 pb-4 view-sub-title">Project</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <div for="shortName" class="font-style text-capitalize">Short name</div>
                    <input type="text" id="shortName" class="form-control" placeholder="e.g. INVENTS"
                        formControlName="shortName" *ngIf="!isView" />
                    <div *ngIf="isView" class="text-value">{{projectData?.shortName ? projectData?.shortName : ''}}</div>
                </div>
                <div class="col-md-8">
                    <div for="name" class="font-style text-capitalize">Name<sup>*</sup></div>
                    <textarea cols="30" rows="2" class="form-control" placeholder="Full project name"
                        formControlName="name" *ngIf="!isView" id="name" (change)="onChange()" [ngClass]="{ 'is-invalid': submitted && g.name.errors }"></textarea>
                        <div class="col-md-12 invalid-feedback d-block" *ngIf="submitted && g.name.errors">
                            <p *ngIf="submitted && g.name.errors.required">Please enter the project name</p>
                        </div>
                    <div *ngIf="isView" class="text-value">{{projectData?.name}}</div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-2">
                    <div for="gaNumber" class="font-style text-capitalize">GA number</div>
                    <input type="text" id="gaNumber" class="form-control" placeholder="e.g. 101136365"
                        formControlName="gaNumber" *ngIf="!isView" />
                    <div *ngIf="isView" class="text-value">{{projectData?.gaNumber ? projectData?.gaNumber : ''}}</div>
                </div>
                <div class="col-md-2">
                    <div for="startDate" class="font-style text-capitalize">Start date</div>
                    <div class="input-group" *ngIf="!isView">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="startDate" ngbDatepicker #startDate="ngbDatepicker"
                            [ngClass]="{ 'is-invalid': submitted && g.startDate.errors }"
                            formControlName="startDate" container='body'>
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                (click)="startDate.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="isView" class="text-value">{{projectData?.startDate}}</div>
                    <!-- <div *ngIf="isView" class="text-value">{{dateToString(projectData?.startDate)}}</div> -->
                </div>
                <div class="col-md-2">
                    <div for="endDate" class="font-style text-capitalize">End date</div>
                    <div class="input-group" *ngIf="!isView">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="endDate" ngbDatepicker #endDate="ngbDatepicker"
                            [ngClass]="{ 'is-invalid': submitted && g.endDate.errors }"
                            formControlName="endDate" container='body'>
                        <div class="input-group-append">
                            <button class="btn btn-primary"
                                (click)="endDate.toggle()" type="button">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </div>
                    </div>
                    <!-- <div *ngIf="isView" class="text-value">{{dateToString(projectData?.endDate)}}</div> -->
                    <div *ngIf="isView" class="text-value">{{projectData?.endDate}}</div>
                </div>
                <div class="col-md-6">
                    <div for="url" class="font-style text-capitalize">URL</div>
                    <input type="text" id="url" class="form-control" placeholder="Link the the project's website"
                        formControlName="url" *ngIf="!isView" />
                    <a href="{{projectData?.url}}" target="_blank">
                        <div *ngIf="isView" class="text-value">{{projectData?.url}}</div>
                    </a>
                </div>
            </div>
            <!-- <hr *ngIf="isEdit || isView" class="hr-big"/>
            <ng-container *ngIf="isEdit || isView">
                <div class="mt-8">
                    <mat-expansion-panel [expanded]="studyData?.studyIdentifiers?.length > 0 ? true : false" [disabled]="(isView && studyData?.studyIdentifiers?.length === 0) ? true : false">
                        <mat-expansion-panel-header>
                            <div class="pt-3 font-style">Study identifier(s)</div>
                        </mat-expansion-panel-header>
                        <app-study-identifier [studyId]="id" *ngIf="id" [isView]="isView" [isEdit]="isEdit"></app-study-identifier>
                    </mat-expansion-panel>
                </div>
            </ng-container> -->
        </form>
        <hr>
        <app-upsert-study [studiesData]="projectData?.studies" [isView]="isView" [isEdit]="isEdit"></app-upsert-study>
    </div>
</div>
<br />