.mat-column-shortTitle {
    flex: 0 0 13% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-status {
    flex: 0 0 15% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-sponsorOrganisation {
    flex: 0 0 18% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-sponsorCountry {
    flex: 0 0 10% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-cEuco {
    flex: 0 0 15% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-studyCountries {
    flex: 0 0 10% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}

.mat-column-project {
    flex: 0 0 12% !important;
    word-wrap: break-word !important;
    white-space: unset !important;
    overflow-wrap: break-word;
    word-break: break-word;
}