<div class="card">
    <div class="card-header sticky-top">
        <div class="row">
            <div class="col-md-6 d-inline-flex pt-2 pb-2">
                <div class="view-title d-flex align-items-center">Clinical Studies</div>
            </div>

            <div class="col-md-6 d-flex justify-content-end">
                <input type="text" class="form-control" placeholder="Search study..." [(ngModel)]="searchText" (keyup)="onInputChange($event)" />
            </div>
        </div>
    </div>
    <div id="permanentNavbar"></div>

    <div class="card-body">
        <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="shortTitle">
                <mat-header-cell *matHeaderCellDef>Short Name</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="['/studies', row.id, 'view']">{{row.shortTitle}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.status}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="sponsorOrganisation">
                <mat-header-cell *matHeaderCellDef>Sponsor Organisation</mat-header-cell>
                <mat-cell *matCellDef="let row"><span>{{row.sponsorOrganisation?.country ? (getCountryFlag(row.sponsorOrganisation?.country?.iso2) + '&nbsp;') : ''}}{{row.sponsorOrganisation?.shortName ? row.sponsorOrganisation?.shortName : row.sponsorOrganisation?.name}}</span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="sponsorCountry">
                <mat-header-cell *matHeaderCellDef>Sponsor Country</mat-header-cell>
                <mat-cell *matCellDef="let row">{{row.sponsorCountry ? (getCountryFlag(row.sponsorCountry?.iso2) + '&nbsp;' + row.sponsorCountry?.name) : ''}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="cEuco">
                <mat-header-cell *matHeaderCellDef>Coordinating EuCo</mat-header-cell>
                <mat-cell *matCellDef="let row"><span>{{row.cEuco?.country ? (getCountryFlag(row.cEuco?.country?.iso2) + '&nbsp;') : ''}}{{row.cEuco?.fullName}}</span></mat-cell>
            </ng-container>

            <ng-container matColumnDef="studyCountries">
                <mat-header-cell *matHeaderCellDef>Study Countries</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <span *ngFor="let sc of row.studyCountries; let i = index">
                        <a [routerLink]="['/study-countries', sc.id, 'view']">{{sc.country ? getCountryFlag(sc.country?.iso2) : ''}}</a>{{i+1 == row.studyCountries.length ? '' : '&nbsp;'}}
                    </span>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="project">
                <mat-header-cell *matHeaderCellDef>Project</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="['/projects', row.project?.id, 'view']">{{row.project?.shortName}}</a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <a [routerLink]="['/studies', row.id, 'view']">
                        <i class="fa fa-eye me-4" style="color:#0688fa;"></i>
                    </a>
                    <a [routerLink]="['/studies', row.id, 'edit']">
                        <i class="fa fa-edit me-4" style="color:#0688fa;"></i>
                    </a>
                    <i class="fa fa-trash me-4" style="color:#f24437; cursor: pointer;" (click)="deleteRecord(row.id)">
                    </i>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
        </mat-table>
        <mat-paginator #studyPaginator [pageSizeOptions]="[10, 25, 50, 100]" [length]="studyLength" [pageSize]="25"></mat-paginator>
    </div>
</div>

<br />

<!-- Modal -->
<ng-template #studyDeleteModal let-modal>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Delete Record</h5>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <h6>{{title}}</h6>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" (click)="closeModal()">Close</button>
        </div>
    </div>
</ng-template>